<div class="categorys site-mast">
  <div class="categorys-type">
    <a href="categoryall.php" target="_blank">
      全部商品分类
    </a>
  </div>
  <div class="categorys-tab-content">
    <div class="categorys-items" id="cata-nav">
      <div class="categorys-item" ectype="cateItem" data-id="858" data-eveval="0">
        <div class="item item-content">
          <i class="iconfont icon-ele">
          </i>
          <div class="categorys-title">
            <strong>
              <a href="category.php?id=858" target="_blank">
                家用电器
              </a>
            </strong>
            <span>
              <a href="category.php?id=1105" target="_blank">
                大家电
              </a>
              <a href="category.php?id=1115" target="_blank">
                生活电器
              </a>
            </span>
          </div>
        </div>
        <div class="categorys-items-layer" ectype="cateLayer">
          {# content by ajax #}
          <div class="cate-layer-con clearfix" ectype="cateLayerCon_858">
            <div class="cate-layer-left">
              <div class="cate_channel">
                <a href="category.php?id=1105" target="_blank">品牌日</a>
                <a href="category.php?id=1115" target="_blank">家电城</a>
                <a href="category.php?id=1129" target="_blank">智能生活馆</a>
                <a href="category.php?id=1130" target="_blank">京东净化馆</a>
                <a href="category.php?id=1145" target="_blank">京东帮服务店</a>
                <a href="category.php?id=1160" target="_blank">值得买精选</a>
              </div>
              <div class="cate_detail">
                <dl class="dl_fore1">
                  <dt><a href="category.php?id=1105" target="_blank">大家电</a></dt>
                  <dd>
                    <a href="category.php?id=1106" target="_blank">平板电视</a>
                    <a href="category.php?id=1107" target="_blank">空调</a>
                    <a href="category.php?id=1108" target="_blank">冰箱</a>
                    <a href="category.php?id=1109" target="_blank">洗衣机</a>
                    <a href="category.php?id=1110" target="_blank">家庭影院</a>
                    <a href="category.php?id=1111" target="_blank">DVD</a>
                    <a href="category.php?id=1112" target="_blank">迷你音响</a>
                    <a href="category.php?id=1113" target="_blank">热水器</a>
                    <a href="category.php?id=1114" target="_blank">冷吧/冰柜</a>
                  </dd>
                </dl>
                <dl class="dl_fore2">
                  <dt><a href="category.php?id=1115" target="_blank">生活电器</a></dt>
                  <dd>
                    <a href="category.php?id=1116" target="_blank">电风扇</a>
                    <a href="category.php?id=1117" target="_blank">冷风扇</a>
                    <a href="category.php?id=1118" target="_blank">净化器</a>
                    <a href="category.php?id=1119" target="_blank">加湿器</a>
                    <a href="category.php?id=1120" target="_blank">扫地机器人</a>
                    <a href="category.php?id=1121" target="_blank">吸尘器</a>
                    <a href="category.php?id=1122" target="_blank">插座</a>
                    <a href="category.php?id=1123" target="_blank">电话机</a>
                    <a href="category.php?id=1124" target="_blank">饮水机</a>
                    <a href="category.php?id=1125" target="_blank">取暖电器</a>
                    <a href="category.php?id=1126" target="_blank">净水设备</a>
                    <a href="category.php?id=1127" target="_blank">干衣机</a>
                    <a href="category.php?id=1128" target="_blank">收音机/录音机</a>
                    <a href="category.php?id=1175" target="_blank">电器开关</a>
                  </dd>
                </dl>
                <dl class="dl_fore3">
                  <dt><a href="category.php?id=1129" target="_blank">厨房电器</a></dt>
                  <dd>
                    <a href="category.php?id=1131" target="_blank">电饭煲</a>
                    <a href="category.php?id=1130" target="_blank">电压力锅</a>
                    <a href="category.php?id=1132" target="_blank">豆浆机</a>
                    <a href="category.php?id=1133" target="_blank">面包机</a>
                    <a href="category.php?id=1134" target="_blank">咖啡机</a>
                    <a href="category.php?id=1135" target="_blank">微波炉</a>
                    <a href="category.php?id=1136" target="_blank">料理/榨汁机</a>
                    <a href="category.php?id=1137" target="_blank">电烤箱</a>
                    <a href="category.php?id=1138" target="_blank">电磁炉</a>
                    <a href="category.php?id=1139" target="_blank">电饼铛/烧火盘</a>
                    <a href="category.php?id=1140" target="_blank">煮蛋器</a>
                    <a href="category.php?id=1141" target="_blank">酸奶机</a>
                    <a href="category.php?id=1142" target="_blank">电水壶/热水瓶</a>
                    <a href="category.php?id=1143" target="_blank">电饭盒</a>
                    <a href="category.php?id=1144" target="_blank">其他厨房电器</a>
                  </dd>
                </dl>
                <dl class="dl_fore4">
                  <dt><a href="category.php?id=1145" target="_blank">个护健康</a></dt>
                  <dd>
                    <a href="category.php?id=1152" target="_blank">按摩椅</a>
                    <a href="category.php?id=1146" target="_blank">剃须刀</a>
                    <a href="category.php?id=1147" target="_blank">脱毛器</a>
                    <a href="category.php?id=1148" target="_blank">口腔护理</a>
                    <a href="category.php?id=1149" target="_blank">电吹风</a>
                    <a href="category.php?id=1150" target="_blank">美容器</a>
                    <a href="category.php?id=1151" target="_blank">理发器</a>
                    <a href="category.php?id=1153" target="_blank">按摩器</a>
                    <a href="category.php?id=1154" target="_blank">足浴盆</a>
                    <a href="category.php?id=1155" target="_blank">血压计</a>
                    <a href="category.php?id=1156" target="_blank">健康秤/厨房秤</a>
                    <a href="category.php?id=1157" target="_blank">血糖计</a>
                    <a href="category.php?id=1158" target="_blank">计步器</a>
                    <a href="category.php?id=1159" target="_blank">其他健康电器</a>
                  </dd>
                </dl>
                <dl class="dl_fore5">
                  <dt><a href="category.php?id=1160" target="_blank">五金家装</a></dt>
                  <dd>
                    <a href="category.php?id=1161" target="_blank">电动工具</a>
                    <a href="category.php?id=1162" target="_blank">手动工具</a>
                    <a href="category.php?id=1163" target="_blank">仪器</a>
                    <a href="category.php?id=1164" target="_blank">仪表</a>
                    <a href="category.php?id=1165" target="_blank">浴霸/排气扇</a>
                    <a href="category.php?id=1166" target="_blank">灯具</a>
                    <a href="category.php?id=1167" target="_blank">LED灯</a>
                    <a href="category.php?id=1168" target="_blank">洁身器</a>
                    <a href="category.php?id=1169" target="_blank">水槽</a>
                    <a href="category.php?id=1170" target="_blank">龙头</a>
                    <a href="category.php?id=1171" target="_blank">沐浴花洒</a>
                    <a href="category.php?id=1172" target="_blank">厨卫五金</a>
                    <a href="category.php?id=1173" target="_blank">家具五金</a>
                    <a href="category.php?id=1174" target="_blank">门铃</a>
                    <a href="category.php?id=1176" target="_blank">监控安防</a>
                  </dd>
                </dl>
        
                <div class="item-brands">
                  <ul>
                  </ul>
                </div>
                <div class="item-promotions">
                </div>
              </div>
            </div>
            <div class="cate-layer-rihgt">
              <div class="cate-brand">
                <div class="img"><a href="category.php?id=858&amp;brand=204" target="_blank" title="金士顿"><img src="data/brandlogo/1490039286075654490.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=93" target="_blank" title="同庆和堂"><img src="data/brandlogo/1490072850306019115.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=72" target="_blank" title="ELLE HOME"><img src="data/brandlogo/1490072313895957648.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=73" target="_blank" title="她他/tata"><img src="data/brandlogo/1490072329183966195.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=74" target="_blank" title="梦特娇"><img src="data/brandlogo/1490072344340492758.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=77" target="_blank" title="阿迪达斯"><img src="data/brandlogo/1490072384627679069.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=78" target="_blank" title="猫人"><img src="data/brandlogo/1490072399542595828.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=80" target="_blank" title="Dior"><img src="data/brandlogo/1490072417755830176.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=84" target="_blank" title="同仁堂"><img src="data/brandlogo/1490072746651935979.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=85" target="_blank" title="喜瑞"><img src="data/brandlogo/1490072756032175204.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=87" target="_blank" title="汤臣倍健"><img src="data/brandlogo/1490072777790374054.jpg"></a></div>
                <div class="img"><a href="category.php?id=858&amp;brand=88" target="_blank" title="养生堂"><img src="data/brandlogo/1490072787223453617.jpg"></a></div>
              </div>
              <div class="cate-promotion">
                <a href="https://www.dscmall.cn/" target="_blank"><img width="199" height="97" src="data/afficheimg/1490847672639256000.jpg"></a>
              </div>
            </div>
          </div>
          
        </div>
        <div class="clear">
        </div>
      </div>
      <div class="categorys-item" ectype="cateItem" data-id="3" data-eveval="0">
        <div class="item item-content">
          <i class="iconfont icon-digital">
          </i>
          <div class="categorys-title">
            <strong>
              <a href="category.php?id=33" target="_blank" class="division_cat">
                手机
              </a>
              、
              <a href="category.php?id=64" target="_blank" class="division_cat">
                数码
              </a>
              、
              <a href="category.php?id=37" target="_blank" class="division_cat">
                通信
              </a>
            </strong>
            <span>
              <a href="category.php?id=112" target="_blank">
                智能设备
              </a>
              <a href="category.php?id=76" target="_blank">
                数码配件
              </a>
            </span>
          </div>
        </div>
        <div class="categorys-items-layer" ectype="cateLayer">
          <div class="cate-layer-con clearfix" ectype="cateLayerCon_3">
          </div>
        </div>
        <div class="clear">
        </div>
      </div>
      <div class="categorys-item" ectype="cateItem" data-id="4" data-eveval="0">
        <div class="item item-content">
          <i class="iconfont icon-computer">
          </i>
          <div class="categorys-title">
            <strong>
              <a href="category.php?id=4" target="_blank">
                电脑、办公
              </a>
            </strong>
            <span>
              <a href="category.php?id=158" target="_blank">
                服务产品
              </a>
              <a href="category.php?id=132" target="_blank">
                电脑整机
              </a>
            </span>
          </div>
        </div>
        <div class="categorys-items-layer" ectype="cateLayer">
          <div class="cate-layer-con clearfix" ectype="cateLayerCon_4">
          </div>
        </div>
        <div class="clear">
        </div>
      </div>
      <div class="categorys-item" ectype="cateItem" data-id="5" data-eveval="0">
        <div class="item item-content">
          <i class="iconfont icon-bed">
          </i>
          <div class="categorys-title">
            <strong>
              <a href="category.php?id=5" target="_blank">
                家居、家具、家装、厨具
              </a>
            </strong>
            <span>
              <a href="category.php?id=143" target="_blank">
                厨具
              </a>
              <a href="category.php?id=159" target="_blank">
                家装建材
              </a>
            </span>
          </div>
        </div>
        <div class="categorys-items-layer" ectype="cateLayer">
          <div class="cate-layer-con clearfix" ectype="cateLayerCon_5">
          </div>
        </div>
        <div class="clear">
        </div>
      </div>
      <div class="categorys-item" ectype="cateItem" data-id="6" data-eveval="0">
        <div class="item item-content">
          <i class="iconfont icon-clothes">
          </i>
          <div class="categorys-title">
            <strong>
              <a href="category.php?id=6" target="_blank">
                男装、女装、内衣
              </a>
            </strong>
            <span>
              <a href="category.php?id=347" target="_blank">
                女装
              </a>
              <a href="category.php?id=463" target="_blank">
                男装
              </a>
            </span>
          </div>
        </div>
        <div class="categorys-items-layer" ectype="cateLayer">
          <div class="cate-layer-con clearfix" ectype="cateLayerCon_6">
          </div>
        </div>
        <div class="clear">
        </div>
      </div>
      <div class="categorys-item" ectype="cateItem" data-id="8" data-eveval="0">
        <div class="item item-content">
          <i class="iconfont icon-shoes">
          </i>
          <div class="categorys-title">
            <strong>
              <a href="category.php?id=8" target="_blank">
                鞋靴、箱包、钟表、奢侈品
              </a>
            </strong>
            <span>
              <a href="category.php?id=362" target="_blank">
                奢侈品
              </a>
              <a href="category.php?id=360" target="_blank">
                功能箱包
              </a>
            </span>
          </div>
        </div>
        <div class="categorys-items-layer" ectype="cateLayer">
          <div class="cate-layer-con clearfix" ectype="cateLayerCon_8">
          </div>
        </div>
        <div class="clear">
        </div>
      </div>
      <div class="categorys-item" ectype="cateItem" data-id="860" data-eveval="0">
        <div class="item item-content">
          <i class="iconfont icon-heal">
          </i>
          <div class="categorys-title">
            <strong>
              <a href="category.php?id=860" target="_blank">
                个人化妆、清洁用品
              </a>
            </strong>
            <span>
              <a href="category.php?id=876" target="_blank">
                面部护肤
              </a>
              <a href="category.php?id=880" target="_blank">
                洗发护发
              </a>
            </span>
          </div>
        </div>
        <div class="categorys-items-layer" ectype="cateLayer">
          <div class="cate-layer-con clearfix" ectype="cateLayerCon_860">
          </div>
        </div>
        <div class="clear">
        </div>
      </div>
    </div>
  </div>
</div>