

<div class="nav-main" id="nav">
  <ul class="navitems">
    <li><a href="index.php" class="curr">首页</a></li>
    <li><a href="category.php?id=12" target="_blank">食品特产</a></li>
    <li><a href="store_street.php">店铺街</a></li>
    <li><a href="presale.php">预售</a></li>
    <li><a href="news.php">CMS频道</a></li>
    <li><a href="brand.php">品牌专区</a></li>
    <li><a href="group_buy.php">聚划算</a></li>
    <li><a href="exchange.php">积分商城</a></li>
    <li><a href="category.php?id=858">大家电</a></li>
    <li><a href="category.php?id=6">服装城</a></li>
    <li><a href="category.php?id=8">鞋靴箱包</a></li>
  </ul>
</div>