
<div class="hot-sales">
  <div class="hotsale w1390 w">
    <div class="hatsale-mt">热门推荐</div>
    <div class="bd">
      <ul>
        <li>
          <div class="item">
            <div class="p-img"><a href="goods.php?id=845" target="_blank"><img src="/modules/neibers/themes/codex/images/extra/0_thumb_G_1490209587072.jpg"></a></div>
            <div class="p-name"><a href="goods.php?id=845" title="碧利沙电风扇家用落地扇宿舍台扇静音摇头小台式电扇立式学生风扇" target="_blank">碧利沙电风扇家用落地扇宿舍台扇静音摇头小台式电扇立式学生风扇</a></div>
            <div class="p-price">
              <em>¥</em>59.00                                                    </div>
            <div class="p-btn"><a class="btn sc-redBg-btn" href="goods.php?id=845">立即购买</a></div>
          </div>
        </li>
        <li>
          <div class="item">
            <div class="p-img"><a href="goods.php?id=844" target="_blank"><img src="/modules/neibers/themes/codex/images/extra/0_thumb_G_1490209559885.jpg"></a></div>
            <div class="p-name"><a href="goods.php?id=844" title="美的壁扇FW40-F3挂壁式工业电风扇 家用台式餐厅摇头墙16寸电扇 热销壁扇 团购优选 3档风速" target="_blank">美的壁扇FW40-F3挂壁式工业电风扇 家用台式餐厅摇头墙16寸电扇 热销壁扇 团购优选 3档风速</a></div>
            <div class="p-price">
              <em>¥</em>179.00                                                    </div>
            <div class="p-btn"><a class="btn sc-redBg-btn" href="goods.php?id=844">立即购买</a></div>
          </div>
        </li>
        <li>
          <div class="item">
            <div class="p-img"><a href="goods.php?id=846" target="_blank"><img src="/modules/neibers/themes/codex/images/extra/0_thumb_G_1490209616526.jpg"></a></div>
            <div class="p-name"><a href="goods.php?id=846" title="凉师傅无叶风扇静音落地扇家用立式遥控电风扇办公室循环扇客厅6A 凉师傅 无叶风扇 两年保修" target="_blank">凉师傅无叶风扇静音落地扇家用立式遥控电风扇办公室循环扇客厅6A 凉师傅 无叶风扇 两年保修</a></div>
            <div class="p-price">
              <em>¥</em>499.00                                                    </div>
            <div class="p-btn"><a class="btn sc-redBg-btn" href="goods.php?id=846">立即购买</a></div>
          </div>
        </li>
        <li class="last">
          <div class="item">
            <div class="p-img"><a href="goods.php?id=823" target="_blank"><img src="/modules/neibers/themes/codex/images/extra/0_thumb_G_1490204923671.jpg"></a></div>
            <div class="p-name"><a href="goods.php?id=823" title="奥克斯空调扇冷暖两用遥控冷风扇制冷机小空调冷风机水冷空调冷气 冷暖两用 净化加湿！四季可用" target="_blank">奥克斯空调扇冷暖两用遥控冷风扇制冷机小空调冷风机水冷空调冷气 冷暖两用 净化加湿！四季可用</a></div>
            <div class="p-price">
              <em>¥</em>329.00                                                    </div>
            <div class="p-btn"><a class="btn sc-redBg-btn" href="goods.php?id=823">立即购买</a></div>
          </div>
        </li>
      </ul>
      <a href="javascript:void(0);" class="prev"></a>
      <a href="javascript:void(0);" class="next"></a>
    </div>
  </div>
</div>