
<div class="full-main-n">
  <div class="w w1200 relative">
    <div class="crumbs-nav">
      <div class="crumbs-nav-main clearfix">
        <div class="crumbs-nav-item">
          <div class="menu-drop">
            <div class="trigger">
              <a href="category.php?id=858"><span>家用电器</span></a>
              <i class="iconfont icon-down"></i>
            </div>
            <div class="menu-drop-main">
              <ul>
                <li><a href="category.php?id=1105">大家电</a></li>
                <li><a href="category.php?id=1115">生活电器</a></li>
                <li><a href="category.php?id=1129">厨房电器</a></li>
                <li><a href="category.php?id=1145">个护健康</a></li>
                <li><a href="category.php?id=1160">五金家装</a></li>
              </ul>
            </div>
          </div>
          <i class="iconfont icon-right"></i>		</div>
        <div class="crumbs-nav-item">
          <div class="menu-drop">
            <div class="trigger">
              <a href="category.php?id=1115"><span>生活电器</span></a>
              <i class="iconfont icon-down"></i>
            </div>
            <div class="menu-drop-main">
              <ul>
                <li><a href="category.php?id=1116">电风扇</a></li>
                <li><a href="category.php?id=1117">冷风扇</a></li>
                <li><a href="category.php?id=1118">净化器</a></li>
                <li><a href="category.php?id=1119">加湿器</a></li>
                <li><a href="category.php?id=1120">扫地机器人</a></li>
                <li><a href="category.php?id=1121">吸尘器</a></li>
                <li><a href="category.php?id=1122">插座</a></li>
                <li><a href="category.php?id=1123">电话机</a></li>
                <li><a href="category.php?id=1124">饮水机</a></li>
                <li><a href="category.php?id=1125">取暖电器</a></li>
                <li><a href="category.php?id=1126">净水设备</a></li>
                <li><a href="category.php?id=1127">干衣机</a></li>
                <li><a href="category.php?id=1128">收音机/录音机</a></li>
                <li><a href="category.php?id=1175">电器开关</a></li>
              </ul>
            </div>
          </div>
          <i class="iconfont icon-right"></i>		</div>
        <div class="crumbs-nav-item">
          <div class="menu-drop">
            <div class="trigger bottom">
              <a href="category.php?id=1116"><span>电风扇</span></a>
              <i class="iconfont icon-down"></i>
            </div>
          </div>
          <i class="iconfont icon-right"></i>		</div>
        <span class="cn-goodsName">碧利沙电风扇家用落地扇宿舍台扇静音摇头小台式电扇立式学生风扇</span>
      </div>
    </div>
  </div>
</div>