
<div class="logo">
  <div class="logoImg"><a href="#"><img src="{{ site_logo }}" ></a></div>
  <div class="logoAdv"><a href="#"><img src="/{{ directory }}/images/mall/ecsc-join.gif"></a></div>
</div>