


<p class="copyright_links">
  <a href="index.php">首页</a>
  
  <span class="spacer"></span>
  
  <a href="article.php?id=2">隐私保护</a>
  
  <span class="spacer"></span>
  
  <a href="article.php?id=4">联系我们</a>
  
  <span class="spacer"></span>
  
  <a href="article.php?id=1">免责条款</a>
  
  <span class="spacer"></span>
  
  <a href="article.php?id=5">公司简介</a>
  
  <span class="spacer"></span>
  
  <a href="merchants.php" target="_blank">商家入驻</a>
  
  <span class="spacer"></span>
  
  <a href="message.php">意见反馈</a>


</p>