

<div class="qr-code">
  <div class="qr-item qr-item-first">
    <div class="code_img"><img src="images/common/qrcode.png"></div>
    <div class="code_txt">Qrcode1</div>
  </div>
  <div class="qr-item">
    <div class="code_img"><img src="images/common/qrcode.png"></div>
    <div class="code_txt">Qrcode2</div>
  </div>
</div>