<div class="admin-header clearfix">
  <div class="bgSelector"></div>
  {{ page.header }}
</div>

<div class="admin-main">
  <div class="top-border"></div>
  <div class="admin-main-left">
     {{ page.sidebar_first }}
  </div>

  <div class="admin-main-right">
    {{ page.content_top }}
    <div class="wrapper">
      <div class="content">
        {{ page.content }}
      </div>
    </div>
    <div class="footer">Footer</div>
  </div>
</div>