{#
/**
 * @file
 * Template for the batch page.
 */
#}
<div class="login-box">
  {% if page.header %}
    <div class="login-logo">
      {{ page.header }}
    </div>
  {% endif %}
  <div class="login-box-body">
    {{ page.content }}
  </div>
</div>
