{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div id="logo-group">
  {% block content %}
    <span id="logo">{{ content.site_logo }}</span>
  
    <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge  bounceIn animated">10</b> </span>
  
    <div class="ajax-dropdown">
    
      <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="radio" name="activity" id="ajax/notify/mail.html">
          Msgs (14) </label>
        <label class="btn btn-default">
          <input type="radio" name="activity" id="ajax/notify/notifications.html">
          notify (3) </label>
        <label class="btn btn-default">
          <input type="radio" name="activity" id="ajax/notify/tasks.html">
          Tasks (4) </label>
      </div>
    
      <!-- notification content -->
      <div class="ajax-notifications custom-scroll">
      
        <div class="alert alert-transparent">
          <h4>Click a button to show messages here</h4>
          This blank page message helps protect your privacy, or you can show the first message here automatically.
        </div>
      
        <i class="fa fa-lock fa-4x fa-border"></i>
    
      </div>
      <!-- end notification content -->
    
      <!-- footer: refresh area -->
      <span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>
      <!-- end footer -->
  
    </div>
  {% endblock %}
</div>
