body, button, input, select, textarea {
  -webkit-font-smoothing: antialiased;
  font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hevetica,\\5b8b\4f53,sans-serif;
  color: #555;
}

ul, menu, dir {
  padding: 0;
}
/* Override contextual.module.css */
.contextual-region {
  position: unset;
}

.logo {
  float: left;
}
.logoImg {
  float: left;
  position: relative;
  margin-right: 30px;
}

.logoImg a {
  display: table-cell;
  height: 100px;
  vertical-align: middle;
}

em, i, u {
  font-style: normal;
}

img {
  vertical-align: middle;
  display: inline-block;
}

.logoImg img {
  max-width: 159px;
  max-height: 100px;
}

.logoAdv {
  float: left;
  margin: 22px 0px 0 0;
}

a {
  text-decoration: none;
  color: #555;
}
.w {
  margin: 0 auto;
}

.w1200 {
  width: 1200px;
}

.suggestions_box {
  width: 395px;
  background: white;
  border: 1px solid #f42424;
  position: absolute;
  z-index: 99999;
  border-top: none;
  top: 34px;
  left: 0px;
}

.dsc-search .button {
  border: 0;
  /*width: 70px;*/
  height: 34px;
  line-height: 27px;
  background-color: #f42424;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  float: left;
  outline: 0;
}

.dsc-search .button-goods {
  /*margin-right: 8px;*/
}

.dsc-search .button-store {
  background-color: #b31919;
}

.dsc-search ul, ol {
  list-style: none;
  margin-top: 0;
}
/* header start */
.header{ padding-bottom:10px; background-color:#fff;}
.header .w{ height:100px; position:relative; z-index:10;}
.logo{ float:left;}
.logoImg{ float:left; position:relative; margin-right:30px;}
.logoImg a{ display:table-cell; height:100px; vertical-align:middle;}
.logoImg img{ max-width:159px; max-height:100px;}
.logoAdv{ float:left; margin:22px 0px 0 0;}

.dsc-search{ float:left; margin:30px 0 0 78px; width:565px; position:relative;}
.dsc-search .search-form{  float:left;}
.dsc-search .search-text{
  width:378px;
  /*height:14px; */
  padding:6px;
  border:2px solid #f42424;
  outline:0;
  font-size:12px;
  float:left;
  color:#999;
}
.dsc-search .button{
  border:0;
  /*width:70px; */
  height:34px;
  line-height:27px;
  background-color:#f42424;
  color:#fff;
  font-size:14px;
  cursor:pointer;
  float:left;
  outline:0;
  /* Override seven button css */
  /* Override class button css */
  background-image: none;
  margin-left: 0;
  margin-right: 5px;
  border-radius: 0;
}
.dsc-search .button-goods{ margin-right:8px;}
.dsc-search .button-store{ background-color:#b31919;}
.dsc-search .keyword{ float:left; width:100%;}
.dsc-search .keyword li{ float:left; height:28px; line-height:28px; margin-right:10px;}
.dsc-search .keyword li a{ display:block; color:#999;}
.dsc-search .keyword li a:hover{ color:#e23435;}

.dsc-cm{ position:relative; border:1px solid #eee; height:28px; line-height:28px; z-index:1;}

.dorpdown-layer{ display:none; position:absolute; border:1px solid #d2d2d2; background-color:#fff; top:30px; right:0;}
.dorpdown-layer dl{ float:left; padding:0 0 0 30px; border-right:1px solid #efefef; width:85px;}
.dorpdown-layer dl:last-child{ border-right:0;}
.dorpdown-layer dl dt{font-weight: 700;color: #666;}
.dorpdown-layer dl dd{ float:left;}
.dorpdown-layer dl .item{ float:left;width:75px;}
.dorpdown-layer dl.fore2{ width:225px;}
.dorpdown-layer dl.fore3{ width:150px;}

.hover{ z-index:22; position:relative;}
.hover .dorpdown-layer{ display:block;}
.hover .dsc-cm{ padding-bottom: 2px;border-color: #ccc;border-bottom: none;background-color: #fff;}

/* cart*/

.shopCart{ float:right; margin-top:30px;}
.attached-search-container .shopCart{ margin-top:12px;}
.shopCart .shopCart-con{ width:178px; height:33px; line-height:33px; border-color:#d2d2d2;}
.attached-search-container .shopCart .shopCart-con{ width:150px; height:34px; line-height:34px; border:none;}
.shopCart .shopCart-con a{ display:block; color:#f42424;}
.shopCart .shopCart-con .icon-carts{ padding-left:30px; font-size:20px; float:left;}
.shopCart .shopCart-con span{ margin-left:8px;}
.shopCart .shopCart-con .count,
.attached-search-container .shopCart-con .count{
  min-width:13px;
  height:13px;
  line-height:13px;
  padding:1px;
  border-radius:50%;
  background:#f42424;
  color:#fff;
  position:absolute;
  top:6px;
  left:122px;
  text-align:center;
  font-size:12px;
}
.attached-search-container .shopCart-con .count{left:40px;top:0px}
.shopCart .dorpdown-layer{ top:35px; width:312px;}
.shopCart .prompt{ padding:20px 20px 20px 36px;}
.shopCart .prompt .nogoods{ overflow:hidden;}
.shopCart .prompt b{ background:url(../../images/mall/cart-nogoods.png) no-repeat; display:block; width:110px; height:68px; float:left;}
.shopCart .prompt span{ float:left; display:block; font-size:12px; color:#8c8c8c; margin:6px 0 0 14px; line-height:25px; width:132px;}
.shopCart .dorpdown-layer .load{ width:108px; height:108px; margin-left:100px;}


.settleup-content{ position:relative; width:100%; z-index:2; background:#fff;}
.settleup-content .mc{ height:auto; max-height:334px; overflow:auto;}
.settleup-content ul{ margin-top:-1px;}
.settleup-content li{ padding:10px; border-top: 1px dashed #ccc; overflow: hidden; line-height: 18px; vertical-align: bottom;}
.settleup-content li:hover{ background-color:#f5f5f5;}
.settleup-content .p-img{ float:left; width:50px; height:50px; border:1px solid #d3d3d3; padding:0; margin-right:8px; font-size:0;}
.settleup-content .p-name{ float:left; width:100px; height:36px; overflow:hidden; margin:5px 8px 0 0;}
.settleup-content .p-number{ float:left; margin-top:9px;}
.settleup-content .p-number .num{ width:23px; height:28px; line-height:28px; border:1px solid #d6d6d6; display:block; float:left; text-align:center;}
.settleup-content .p-number .count{ float:left; height:28px; width:18px; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;}
.settleup-content .p-number .count a{ display:block; width:18px; height:14px; border-right:1px solid #d6d6d6; text-align:center;}
.settleup-content .p-number .count .count-add{ border-bottom:1px solid #d6d6d6;}
.settleup-content .p-number .count .iconfont{ font-size:12px; display:block; height:14px;}
.settleup-content .p-oper{ float:right; text-align:center; margin-top:5px;}
.settleup-content .p-oper .price{ font-weight:700;}

.settleup-content .mb{ padding:10px; background-color:#eee; overflow:hidden;}
.settleup-content .p-total{ float:left; line-height:28px; color:#999;}
.settleup-content .btn-cart{ display:block; float:right; width:96px; height:26px; line-height:26px; border:1px solid #f42424; background:#eee; text-align:center; color:#f42424;}
.settleup-content .btn-cart:hover{ background-color:#f42424; color:#fff;}

/* nav start*/
.cate_detail dl {
  margin: 0;
}
.cate_detail dl dd, .cate_detail dl dl {
  margin: 0;
}
.nav{ height:40px; position:relative; z-index:9; background-color:#fff;}
.nav .categorys,.attached-search-container .categorys{ float:left; width:232px; height:40px; position:relative;}
.attached-search-container .categorys{ margin-top:12px; height:34px;}
.nav .categorys .categorys-type,.attached-search-container .categorys .categorys-type{ background-color:#f42424; text-align:center; font-size:0; line-height:40px;}
.attached-search-container .categorys .categorys-type{ line-height:34px;}
.nav .categorys .categorys-type a,.attached-search-container .categorys .categorys-type a{ font-size:16px; font-weight:700; color:#fff; display:block;}


.dsc-zoom{ border-bottom: 2px solid #f42424;}
.dsc-zoom .categorys .categorys-type{ padding-bottom:2px;}

.categorys-tab-content{ height:500px; z-index:30; background-color:#000; background-color:rgba(0,0,0,0.6);}
.categorys-tab-content .categorys-items{ position:relative; height:100%;}
.categorys-tab-content .categorys-item{ cursor:pointer; height:14.29%;}
.categorys-tab-content .item-content{ padding:14.5px 16px; float:left; width:232px;}
.categorys-tab-content .item-content .icon-other{ float:left; width:16px; height:16px;}
.categorys-tab-content .item-content .icon-other img{ width:100%;}
.categorys-tab-content .selected .item-content{  background-color:rgba(0,0,0,1);}
.categorys-tab-content .iconfont{ float:left; color:#bfbfbf;}
.categorys-tab-content .categorys-title{ float:left; margin-left:10px; width:173px;}
.categorys-tab-content .categorys-title strong{ display:block; font-weight:normal; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.categorys-tab-content .categorys-title strong a{ color:#fff; font-size:14px;}
.categorys-tab-content .categorys-title span{ display:block; font-size:0; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.categorys-tab-content .categorys-title span a{ color:#bfbfbf; margin-right:10px; font-size:14px;}
.categorys-tab-content .categorys-title span a:hover,.categorys-tab-content .categorys-title strong a:hover{ color:#e23435;}

.site-mast .categorys-tab-content{ display:none;}
.site-mast:hover .categorys-tab-content{ display:block;}

.categorys-items-layer{ display:none; position:absolute; top:0; left:232px; width:966px; min-height:498px; border:1px solid #fff; background-color: #fff;box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);-webkit-transition: top .25s ease;transition: top .25s ease;}
.cate-layer-con{ padding:20px 20px 28px 18px;}
.cate-layer-con .lazy{ margin:100px 0 0 360px;}
.cate-layer-left{ float:left; width:704px;}
.cate-layer-rihgt{ float:right; width:200px;}
.cateLayer_items_all{ width:276px; }
.cateLayer_items_all .cate-layer-con{ padding:25px 35px; }

.cate_channel{ overflow:hidden; height:24px; width:100%;}
.cate_channel a,
.cate_two_channel a{ float:left; margin-right:10px; padding:0 10px 0 12px; height:24px; line-height:24px; color:#fff; background-color:#5f4f4f;}
.cate_channel .iconfont{ float:none; font-size:12px; margin-left:5px;}

.cate_detail{ margin-top:20px; width:100%;}
.cate_detail dl{ padding-left:80px; position:relative;}
.cate_detail dt{ overflow:hidden; position:absolute; color:#555; left:0; top:13px; width:70px; text-align:right; font-weight:700; white-space:nowrap;text-overflow: ellipsis;}
.cate_detail dt .iconfont{ font-size:12px; color:#666; margin-left:6px; float:none;}
.cate_detail dd{ padding:8px 0; overflow:hidden; border-bottom: 1px dashed #d2d2d2; min-height:28px;}
.cate_detail dl:last-child dd{ border-bottom:0;}
.cate_detail dd a{ float: left;margin: 8px 0;padding: 0 10px;height: 12px;border-left: 1px solid #e0e0e0;line-height: 12px;white-space: nowrap;}

.cate-brand{ margin:auto; font-size:0;}
.cate-brand .img{ overflow:hidden; display:inline-block; width:98px; height:48px; border:1px solid #f9f9f9; text-align:center; margin:-1px -1px 0 0;}
.cate-brand a{ display:table-cell; vertical-align:middle; width:98px; height:48px;}
.cate-brand a img{ width:100%; height:auto;}

.categorys-tab-content .categorys-item:hover .categorys-items-layer{ display:block;}

.nav .nav-main{ float:left; width:968px; overflow:hidden; height:40px; line-height:40px;}
.nav .nav-main li{ float:left; margin-left:38px;}
.nav .nav-main li a{ font-size:16px; color:#555; display:block;}
.nav .nav-main li a:hover,.nav .nav-main li a.curr{ color:#e23435;}

.categorys-tab-content .nav_cat_model{ height:6.25%;}
.categorys-tab-content .nav_cat_model .item-content{ padding:4px 16px 3px;}

.cate_two_detail{ margin-bottom: 30px; overflow: hidden;}
.cate_two_detail ul{ padding-bottom: 20px; border-bottom: 1px dashed #d2d2d2; min-height: 280px; overflow: hidden;}
.cate_two_detail .li_fore{ width: 100%; line-height: 30px; margin-bottom: 10px;}
.cate_two_detail .li_fore a{ display: block; font-weight: bold; }
.cate_two_detail .li_fore i{ display: block; width: 3px; height:6px; background-position:-10px -177px; float: right; margin:12px 0;}
.cate_two_channel ul{ width:216px; }
.cate_two_channel li{ width: 98px; float: left; margin:0 10px 12px 0;}
.cate_two_channel li a{ margin-right:0; }
/* nav end */