.p-num em {
  font-weight: bold;
}
/* goods-list start*/
.hot-sales {
  width: 100%;
}
.hotsale ul {
  list-style-type: none;
}
.hotsale {
  background-color:#f5f5f5;
  margin:10px auto;
  height: 150px;
}
.hotsale .hatsale-mt{ font-size:16px; color:#fff; background:#f42424; float:left; padding:27px 12px; width:40px;font-family: "microsoft yahei";}
.hotsale .bd{ float:left; position:relative;height:110px; overflow:hidden;
  margin:20px;}
.hotsale li{ width:310px; height:108px; border:1px solid #fff; float:left; background:#fff; margin-right:20px;}
.hotsale li:hover{ border-color:#ec5051;}
.hotsale li:last-child{ margin-right:0;}
.hotsale li.last{ margin-right:0;}
.hotsale .item{ padding:10px; float:left;}
.hotsale .item .p-img{ width:90px; height:90px; float:left; margin-right:12px;}
.hotsale .item .p-img img{ width:100%;}
.hotsale .item .p-name{ float:left; width:160px; height:35px; overflow:hidden;}
.hotsale .item .p-price{ float:left; color:#f42424; padding-top:6px; width:120px; font-size:14px; font-weight:bold;}
.hotsale .item .btn{ height:22px; height:22px; border:0; margin-top:6px; float:left;}

.hotsale .prev,.hotsale .next{ background-color:#dedede; top:35%;}
.hotsale .next{ right:0;}
.hotsale .prev{ left:15px;}

@media screen and (min-width:1230px) and (max-width:1450px) {
  .w1390{ width:1200px !important;}
  .header .w1390 .dsc-search{ width:546px; margin-left:78px;}
  .header .w1390 .dsc-search .search-text{ width:378px;}

  .hotsale.w1390 li{ width:266px;margin-right:15px;}
  .hotsale.w1390 li.last{ margin-right:0;}
  .hotsale.w1390 .item .p-img{ margin-right:10px;}
  .hotsale.w1390 .item .p-name{ width:144px;}

  .w1390 .g-view{ width:1226px;}
  .w1390 .goods-list{ width:978px;}
  .w1390 .goods-spread,.w1390 .goods-spread .gs-warp{ margin-top:0;}
  .w1390 .goods-spread .g-stop{ display:none;}

  .merchants_shop .w1390 .goods-list{ width:1200px;}
  .merchants_shop .w1390 .goods-list .gl-item{ width:240px;}
  .merchants_shop .w1390 .goods-list .gl-i-wrap .p-img{ width:218px;}
  .merchants_shop .w1390 .goods-list .gl-i-wrap .p-operate a{ width:60px;}
  .merchants_shop .w1390 .goods-list .gl-i-wrap .p-operate .addcart{ width:90px;}

  .w1390 .p-panel-main .gl-list{ height:276px; overflow:hidden;}

  .w1390 .gl-h-item .gl-i-wrap .col{ margin-right:1%;}
  .w1390 .gl-h-item .gl-i-wrap .col-1{ width:38%;}
  .w1390 .gl-h-item .gl-i-wrap .col-4{ margin-right:0; width:24%;}
}

.ftit{ overflow: hidden;padding: 0 0 20px;height: 35px;background: url(../../images/mall/dian-ico.png) repeat-x 0 18px;text-align: center;font-size: 21px;line-height: 33px;}
.ftit h3{ display: inline;padding: 0 50px;background-color: #fff;font-weight: 400;font-size: 21px;color: #555;}
.ftit-delr{ background:url(../../images/mall/dian-ico2.png) repeat-x 0 18px;}

.p-panel-main{ overflow:hidden; position:relative; z-index:3; margin-top:15px;/* padding-bottom:80px;*/}
.p-panel-main .gl-list ul{ width:1400px;}
.p-panel-main .gl-list li{ float:left; width:190px; height:auto; position:relative; z-index:2; margin-right:10px;}
.p-panel-main .gl-list li .p-img{ width:190px; height:190px;}
.p-panel-main .gl-list li .p-price{ font-size:20px; margin-top:6px;}
.p-panel-main .gl-list li .p-name{ width:100%; height:20px; line-height:20px; overflow:hidden; margin-top:5px;}
.p-panel-main .gl-list li .p-name a{ display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#333;}
.p-panel-main .gl-list li .p-name a:hover{ color:#f42424;}
.p-panel-main .gl-list li .p-num{ margin-top:7px;}
.p-panel-main .gl-list li:last-child{ margin-right:0;}


.product-info{}
.preview{ float:left; width:400px; height:auto;}
.gallery_wrap{ width:398px; height:398px; border:1px solid #d2d2d2; text-align:center;}
.gallery_wrap a{ width:398px; height:398px; display:table-cell; vertical-align:middle;}
.gallery_wrap img{ max-width:398px; max-height:398px;}
.gallery_wrap a img{ max-width:398px; max-height:398px;}
.gallery_wrap ul{}
.gallery_wrap li{ float: left; width:398px; height:398px; position: relative;}
.gallery_wrap li .video_default{ background:url(../../images/mall/video_default.png); width: 400px; height: 400px; display: block; position: absolute; top: 0; left: 0; cursor:pointer;}
.spec-list{ width:398px; height:60px; border:1px solid #d2d2d2; border-top:0; padding:14px 0;}
.spec-list .spec-prev,.spec-list .spec-next{ float:left; width:39px; margin:18px 0 0 0; text-align:center;}
.spec-list .spec-items{ float:left; width:320px; height:60px; overflow:hidden;}
.spec-list .spec-items ul{ width:325px;}
.spec-list .spec-items li{ float:left; width:60px; height:60px; margin-right:5px;}
.spec-list .spec-items li a{ display:block; border:1px solid #fff;}
.spec-list .spec-items li:hover a,.spec-list .spec-items li a.img-hover{ border-color:#f42424;}
.short-share{ height:20px; margin-top:20px;}
.short-share .bar_code{ float:right;}
.short-share .left-btn{ margin-left:5px;}
.short-share .left-btn .duibi,.short-share .left-btn .collection,.short-share .left-btn .share{ float:left; line-height:20px; margin-left:15px;}
.short-share .left-btn .duibi .ui-label,.short-share .left-btn .collection em{ padding-right:15px; border-right:1px solid #d2d2d2;}
.short-share .left-btn .iconfont{ vertical-align:middle; margin-top:-1px; display:inline-block;}
.short-share .left-btn .icon-share{ font-size:12px; color:#8c8c8c; margin-right:5px;}
.short-share .left-btn .selected{ color:#f42424;}
