{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="box box-primary">
  <form{{ attributes }}>
    <div class="box-body">
      {{ element|without('actions') }}
    </div>
    {# Fix element|without('actions') will display actions.
    <div class="box-footer">
      {{ element.actions }}
    </div>
    #}
  </form>
</div>
