div.container-2cols,
div.container-2cols-inline,
div.container-3cols,
div.container-3cols-inline,
details.container-3cols > .details-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* view display */
div.container-2cols > div.field,
div.container-2cols-inline > div,
div.container-3cols > div.field,
div.container-3cols-inline > div.field {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  div.container-2cols > div.field,
  div.container-2cols-inline > div {
    flex: 0 1 50%;
  }
  div.container-3cols > div.field,
  div.container-3cols-inline > div.field {
    flex: 0 1 33.33%;
  }
}

/* form display */

div.container-2cols > div.form-item,
div.container-2cols-inline > div.form-item,
div.container-3cols > div.form-item,
div.container-3cols-inline > div.form-item,
details.container-3cols > .details-wrapper > div.form-item {
  flex: 0 1 100%;
}

.container-2cols input.form-text,
.container-3cols input.form-text,
.container-2cols select,
.container-3cols select {
  width: 100%;
}

@media screen and (min-width: 40em) {
  div.container-2cols > div.form-wrapper,
  div.container-2cols-inline > div.form-wrapper {
    flex: 0 1 50%;
  }

  div.container-3cols > div.form-wrapper,
  div.container-3cols > div.form-item,
  div.container-3cols-inline > div.form-wrapper,
  div.container-3cols-inline > div.form-item,
  details.container-3cols > .details-wrapper > div.form-item,
  div.container-3cols-inline > div.field {
    flex: 0 1 32.33%;
  }
  div.container-2cols .form-item,
  div.container-2cols-inline .form-item,
  div.container-3cols .form-item,
  div.container-3cols-inline .form-item {
    margin: 0 0.5%;
  }
  .container-3cols .action,
  .container-3cols .field--widget-boolean-checkbox {
    display: flex;
    align-items: flex-end;
  }

  .container-2cols-inline .form-item label,
  .container-3cols-inline .form-item label {
    width: 20%;
    text-align: right;
    white-space: nowrap;
  }

  .container-2cols-inline .form-item > input.form-text,
  .container-3cols-inline .form-item > input.form-text {
    width: 78%;
  }
  .container-2cols-inline .form-item > input.form-checkbox,
  .container-3cols-inline .form-item > input.form-checkbox {
    margin-left: 20%;
  }
}

.container-2cols-inline .form-item,
.container-3cols-inline .form-item {
  width: 100%;
}


