

.module-menu{ float:left;overflow:hidden;}
.module-menu ul{ margin-left:-1px;}
.module-menu li{ line-height: 16px;height: 16px;margin: 16px 0;box-shadow: -1px 0 0 rgba(0,0,0,0.15);float:left;}
.module-menu li a{ font-size:16px; line-height:20px; color:#fff;display: block;height: 20px;padding: 14px 25px;margin-top: -16px;margin-left: 1px;margin-right: 2px;opacity: 0.8;text-shadow: 1px 1px 1px rgba(0,0,0,0.25);}
.module-menu li.active a{ filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#26000000', endColorstr='#26000000');background: rgba(0,0,0,0.15);opacity: 1;}
.module-menu li a:hover{ filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#26FFFFFF', endColorstr='#26FFFFFF');background: rgba(255,255,255,0.15);opacity: 1;}
.module-menu li.active a:hover{filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#26000000', endColorstr='#26000000');background: rgba(0,0,0,0.15);opacity: 1;}